In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("19062018_dataset_cleaned.csv")

In [38]:
def recode_diag(diag_input):
    try:
        diag = diag_input
        print(diag)
        rules_1 = [diag >= 390 and diag <= 459,diag == 785]
        rules_2 = [diag >= 460 and diag <= 519,diag == 786]
        rules_3 = [diag >= 520 and diag <= 579, diag == 787]
        rules_4 = [diag > 250 and diag < 251]
        rules_5 = [diag >= 800 and diag <= 999]
        rules_6 = [diag >= 710 and diag <= 793]
        rules_7 = [diag >= 580 and diag<= 629, diag == 788]
        rules_8 = [diag >= 140 and diag <= 239, diag == 780, diag == 781, diag == 784, diag >= 790 and diag <= 799,
        diag >= 240 and diag <= 279, diag != 250, diag >= 680 and diag <= 709, diag == 782, diag >= 1 and diag <= 139]
        rules_9 = [diag >= 290 and diag <= 319, diag >= 289 and diag <= 289, diag >= 320 and diag <= 359, diag >= 630 and diag <= 679,
        diag >= 360 and diag <= 389, diag >= 740 and diag <= 759]
        if all(rules_1):
            diag_1_new = 1
        elif all(rules_2):
            diag_1_new = 2
        elif all(rules_3):
            diag_1_new = 3
        elif all(rules_4):
            diag_1_new = 4
        elif all(rules_5):
            diag_1_new = 5
        elif all(rules_6):
            diag_1_new = 6
        elif all(rules_7):
            diag_1_new = 7
        elif all(rules_8):
            diag_1_new = 8
        elif all(rules_9):
            diag_1_new = 9
        else:
            diag_1_new = 9
        return diag_1_new
    except:
            return diag_input

In [165]:
df = data.copy()
import numpy as np
# create a duplicate of the diagnosis column
df['level1_diag1'] = df['diag_1']
# disease codes starting with V or E are in “other” category; so recode them to 0
df.loc[df['diag_1'].str.contains('V'), ['level1_diag1']] = 0
df.loc[df['diag_1'].str.contains('E'), ['level1_diag1']] = 0
# also replace the unknown values with -1
df['level1_diag1'] = df['level1_diag1'].replace('?', -1)
df['level1_diag1'] = pd.to_numeric(df['level1_diag1'])
# iterate and recode disease codes between certain ranges to certain categories
for index, row in df.iterrows():
    if (row['level1_diag1'] >= 390 and row['level1_diag1'] < 460) or (np.floor(row['level1_diag1']) == 785):
        df.loc[index, 'level1_diag1'] = 1
    elif (row['level1_diag1'] >= 460 and row['level1_diag1'] < 520) or (np.floor(row['level1_diag1']) == 786):
        df.loc[index, 'level1_diag1'] = 2
    elif (row['level1_diag1'] >= 520 and row['level1_diag1'] < 580) or (np.floor(row['level1_diag1']) == 787):
        df.loc[index, 'level1_diag1'] = 3
    elif (np.floor(row['level1_diag1']) == 250):
        df.loc[index, 'level1_diag1'] = 4
    elif (row['level1_diag1'] >= 800 and row['level1_diag1'] < 1000):
        df.loc[index, 'level1_diag1'] = 5
    elif (row['level1_diag1'] >= 710 and row['level1_diag1'] < 740):
        df.loc[index, 'level1_diag1'] = 6
    elif (row['level1_diag1'] >= 580 and row['level1_diag1'] < 630) or (np.floor(row['level1_diag1']) == 788):
        df.loc[index, 'level1_diag1'] = 7
    elif (row['level1_diag1'] >= 140 and row['level1_diag1'] < 240):
        df.loc[index, 'level1_diag1'] = 8
    else:
        df.loc[index, 'level1_diag1'] = 0
# convert this variable to float type to enable computations later
df['level1_diag1'] = df['level1_diag1'].astype(float)

In [48]:
print(repr(df['level1_diag1']))

0        1.0
1        6.0
2        5.0
3        0.0
4        7.0
5        0.0
6        2.0
7        5.0
8        0.0
9        0.0
10       1.0
11       6.0
12       0.0
13       1.0
14       0.0
15       3.0
16       1.0
17       3.0
18       6.0
19       1.0
20       1.0
21       4.0
22       2.0
23       1.0
24       3.0
25       7.0
26       7.0
27       1.0
28       1.0
29       0.0
        ...
69960    7.0
69961    0.0
69962    1.0
69963    0.0
69964    0.0
69965    5.0
69966    0.0
69967    4.0
69968    3.0
69969    0.0
69970    0.0
69971    3.0
69972    0.0
69973    6.0
69974    2.0
69975    0.0
69976    1.0
69977    1.0
69978    5.0
69979    1.0
69980    4.0
69981    3.0
69982    3.0
69983    4.0
69984    7.0
69985    0.0
69986    7.0
69987    2.0
69988    0.0
69989    3.0
Name: level1_diag1, Length: 69990, dtype: float64

In [8]:
data.dtypes

Unnamed: 0                   int64
encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                   int64
dtype: object

In [166]:
df['A1Cresult'] = df['A1Cresult'].replace('>7', 1)
df['A1Cresult'] = df['A1Cresult'].replace('>8', 1)
df['A1Cresult'] = df['A1Cresult'].replace('Norm', 0)
df['A1Cresult'] = df['A1Cresult'].replace('None', -99)

In [167]:
df = df.drop(['citoglipton', 'examide'], axis = 1)

In [168]:
len(df.columns)

48

In [169]:
len(df)

69990

In [170]:
df.head()

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,level1_diag1
0,0,24437208,4267,Caucasian,Female,[50-60),2,1,1,8,...,Steady,No,No,No,No,No,Ch,Yes,1,1.0
1,1,29758806,5827,Caucasian,Female,[50-60),3,1,1,2,...,No,No,No,No,No,No,No,No,0,6.0
2,2,189899286,67608,Caucasian,Female,[80-90),1,3,7,4,...,No,No,No,No,No,No,No,Yes,0,5.0
3,3,64331490,17494,Caucasian,Female,[80-90),1,1,7,3,...,No,No,No,No,No,No,Ch,Yes,0,0.0
4,4,14824206,2270,AfricanAmerican,Female,[30-40),1,1,7,5,...,No,No,No,No,No,No,No,Yes,0,7.0

In [171]:
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
for col in keys:
    colname = str(col) + 'temp'
    df[colname] = df[col].apply(lambda x: 0 if (x == 'No' or x == 'Steady') else 1)

In [58]:
df.head()

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulintemp,glyburide-metformintemp,tolazamidetemp,metformin-pioglitazonetemp,metformin-rosiglitazonetemp,glimepiride-pioglitazonetemp,glipizide-metformintemp,troglitazonetemp,tolbutamidetemp,acetohexamidetemp
0,0,24437208,4267,Caucasian,Female,[50-60),2,1,1,8,...,0,0,0,0,0,0,0,0,0,0
1,1,29758806,5827,Caucasian,Female,[50-60),3,1,1,2,...,0,0,0,0,0,0,0,0,0,0
2,2,189899286,67608,Caucasian,Female,[80-90),1,3,7,4,...,0,0,0,0,0,0,0,0,0,0
3,3,64331490,17494,Caucasian,Female,[80-90),1,1,7,3,...,0,0,0,0,0,0,0,0,0,0
4,4,14824206,2270,AfricanAmerican,Female,[30-40),1,1,7,5,...,0,0,0,0,0,0,0,0,0,0

In [59]:
df.columns

Index(['Unnamed: 0', 'encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'level1_diag1', 'metformintemp', 'repaglinidetemp', 'nateglinidetemp',
       'chlorpropamidetemp', 'glimepiridetemp', 'glipizidetemp',
       'glyburidetemp', 'pioglitazonetemp', 'rosiglitazonetemp',
       'acarbosetemp', 'miglitoltemp', 'insulintemp',
       'glyburide-metformintemp', 'tolazamidetemp',
       'metformin-pioglitazonetemp', 'metformin-rosiglitazonetemp',
       'glimepiride-pioglitazonetemp', 'glipizide-metformintemp',
       'troglitazonetemp', 'tolbutamidetemp', 'acetohexamidetemp'],
      dtype='object')

In [172]:
df['change'] = df['change'].replace('Ch', 1)
df['change'] = df['change'].replace('No', 0)
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df['diabetesMed'] = df['diabetesMed'].replace('Yes', 1)
df['diabetesMed'] = df['diabetesMed'].replace('No', 0)

In [173]:
age_dict = {'[0-10)':5, '[10-20)':15, '[20-30)':25, '[30-40)':35, '[40-50)':45, '[50-60)':55, '[60-70)':65, '[70-80)':75, '[80-90)':85, '[90-100)':95}
df['age'] = df.age.map(age_dict)
df['age'] = df['age'].astype('int64')

In [174]:
df.head()

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulintemp,glyburide-metformintemp,tolazamidetemp,metformin-pioglitazonetemp,metformin-rosiglitazonetemp,glimepiride-pioglitazonetemp,glipizide-metformintemp,troglitazonetemp,tolbutamidetemp,acetohexamidetemp
0,0,24437208,4267,Caucasian,0,55,2,1,1,8,...,0,0,0,0,0,0,0,0,0,0
1,1,29758806,5827,Caucasian,0,55,3,1,1,2,...,0,0,0,0,0,0,0,0,0,0
2,2,189899286,67608,Caucasian,0,85,1,3,7,4,...,0,0,0,0,0,0,0,0,0,0
3,3,64331490,17494,Caucasian,0,85,1,1,7,3,...,0,0,0,0,0,0,0,0,0,0
4,4,14824206,2270,AfricanAmerican,0,35,1,1,7,5,...,0,0,0,0,0,0,0,0,0,0

In [67]:
df['race'].unique()

array(['Caucasian', 'AfricanAmerican', 'Hispanic', '?', 'Asian', 'Other'], dtype=object)

In [175]:
df['gender'] = df['gender'].replace('?', -1)

In [176]:
race_dict = {'Caucasian':1, 'AfricanAmerican':2, 'Hispanic':3, '?':-1, 'Asian':4, 'Other' : 5}
df['race'] = df['race'].map(race_dict)

In [177]:
df['race'] = df['race'].astype('int64')

In [178]:
df['gender'] = df['gender'].replace('Unknown/Invalid',-1)

In [179]:
df.dtypes

Unnamed: 0                        int64
encounter_id                      int64
patient_nbr                       int64
race                              int64
gender                            int64
age                               int64
admission_type_id                 int64
discharge_disposition_id          int64
admission_source_id               int64
time_in_hospital                  int64
medical_specialty                object
num_lab_procedures                int64
num_procedures                    int64
num_medications                   int64
number_outpatient                 int64
number_emergency                  int64
number_inpatient                  int64
diag_1                           object
diag_2                           object
diag_3                           object
number_diagnoses                  int64
max_glu_serum                    object
A1Cresult                         int64
metformin                        object
repaglinide                      object
nateglinide                      object
chlorpropamide                   object
glimepiride                      object
acetohexamide                    object
glipizide                        object
                                 ...
glyburide-metformin              object
glipizide-metformin              object
glimepiride-pioglitazone         object
metformin-rosiglitazone          object
metformin-pioglitazone           object
change                            int64
diabetesMed                       int64
readmitted                        int64
level1_diag1                    float64
metformintemp                     int64
repaglinidetemp                   int64
nateglinidetemp                   int64
chlorpropamidetemp                int64
glimepiridetemp                   int64
glipizidetemp                     int64
glyburidetemp                     int64
pioglitazonetemp                  int64
rosiglitazonetemp                 int64
acarbosetemp                      int64
miglitoltemp                      int64
insulintemp                       int64
glyburide-metformintemp           int64
tolazamidetemp                    int64
metformin-pioglitazonetemp        int64
metformin-rosiglitazonetemp       int64
glimepiride-pioglitazonetemp      int64
glipizide-metformintemp           int64
troglitazonetemp                  int64
tolbutamidetemp                   int64
acetohexamidetemp                 int64
Length: 69, dtype: object

In [180]:
df.head()

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulintemp,glyburide-metformintemp,tolazamidetemp,metformin-pioglitazonetemp,metformin-rosiglitazonetemp,glimepiride-pioglitazonetemp,glipizide-metformintemp,troglitazonetemp,tolbutamidetemp,acetohexamidetemp
0,0,24437208,4267,1,0,55,2,1,1,8,...,0,0,0,0,0,0,0,0,0,0
1,1,29758806,5827,1,0,55,3,1,1,2,...,0,0,0,0,0,0,0,0,0,0
2,2,189899286,67608,1,0,85,1,3,7,4,...,0,0,0,0,0,0,0,0,0,0
3,3,64331490,17494,1,0,85,1,1,7,3,...,0,0,0,0,0,0,0,0,0,0
4,4,14824206,2270,2,0,35,1,1,7,5,...,0,0,0,0,0,0,0,0,0,0

In [181]:
df = df.drop(['Unnamed: 0'],axis=1)

In [182]:
df.to_csv("20062018_cleanest_dataset_v2.csv", sep=',', index=False)

In [183]:
import numpy as np
from sklearn.model_selection import train_test_split

In [184]:
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
for col in keys:
    df[col] = df[col].replace("Steady", 1)
    df[col] = df[col].replace("Down", 1)
    df[col] = df[col].replace("Up", 1)
    df[col] = df[col].replace("No", 0)

In [185]:
feature = ["race","gender","age", "admission_type_id", "discharge_disposition_id", 'chlorpropamide','tolazamide', 'metformin-pioglitazone','glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'miglitol', 'insulin', 'glyburide-metformin','glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose','glimepiride', 'glipizide',"nateglinide","repaglinide","number_inpatient", "admission_source_id", "time_in_hospital", "change", "A1Cresult", "number_diagnoses", "diabetesMed",'metformin', "num_procedures", "num_medications", "number_outpatient", "number_emergency"]
X = df[feature].values
y = df[["readmitted"]].values

In [186]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [187]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [188]:
clf = clf.fit(X_train,y_train)

In [189]:
pred = clf.predict(X_test)

In [190]:
from sklearn.metrics import classification_report

In [191]:
print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          0       0.91      0.89      0.90     21000
          1       0.13      0.16      0.14      2097

avg / total       0.84      0.82      0.83     23097

In [192]:
from sklearn.ensemble import RandomForestClassifier

In [199]:
rfc = RandomForestClassifier(n_estimators=30,n_jobs=-1)

In [200]:
rfc = rfc.fit(X_train,y_train)
pred_rfc = rfc.predict(X_test)

/Users/leahyingling/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [201]:
print(classification_report(y_test,pred_rfc))

             precision    recall  f1-score   support

          0       0.91      1.00      0.95     21000
          1       0.05      0.00      0.00      2097

avg / total       0.83      0.91      0.87     23097

In [209]:
from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [212]:
scoring=['precision','recall']

In [232]:
scores = cross_validate(clf, X, y, scoring=scoring, cv=5, return_train_score=False)

In [233]:
scores

{'fit_time': array([ 0.57823896,  0.42999506,  0.55636406,  0.44962525,  0.50668001]),
 'score_time': array([ 0.01433516,  0.01247787,  0.01389503,  0.01490283,  0.01338911]),
 'test_precision': array([ 0.1130137 ,  0.10777085,  0.13264649,  0.12327253,  0.11854103]),
 'test_recall': array([ 0.13126492,  0.15115354,  0.16388226,  0.17740652,  0.15513126])}

In [234]:
scores["test_recall"].mean()

0.15576770087509945

In [235]:
scores["test_precision"].mean()

0.11904891882718656

In [221]:
rfc.feature_importances_

array([  4.19513659e-02,   3.46430012e-02,   8.64801113e-02,
         5.20374927e-02,   6.19506354e-02,   2.84944486e-04,
         2.13846689e-04,   1.14655167e-07,   6.31395360e-06,
         2.45964041e-05,   8.45353571e-05,   8.17646374e-06,
         1.11996352e-06,   0.00000000e+00,   9.32719943e-05,
         1.82361553e-02,   2.24012232e-03,   1.44191617e-02,
         1.24440984e-02,   1.22917123e-02,   1.14241489e-03,
         1.05903994e-02,   1.51073064e-02,   1.95841018e-03,
         4.13380132e-03,   3.05351069e-02,   4.38262481e-02,
         1.05111692e-01,   2.14235240e-02,   2.67980117e-02,
         6.91911207e-02,   8.58633753e-03,   2.02379337e-02,
         7.67905244e-02,   1.76268951e-01,   3.25198684e-02,
         1.83675738e-02])

In [237]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [238]:
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)

In [ ]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())